@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-45px);
  }
  100% {
    opacity: 1;
  }
}

.cart-window {
  position: absolute;
  transform: translateY(0);
  box-shadow: rgb(73, 68, 68) 0.3px 0.3px 1px;
  z-index: 3;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.cart-window-show {
  opacity: 1;
  transform: translateY(-10px);
}

.cart-body {
  display: flex;
  padding: 10px;
  color: var(--d-blue);
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  min-width: 300px;
}

.cart-body > * {
  margin: 5px;
}
