/* key frames */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.rotate {
  animation: rotate 2s infinite;
}

body {
  font-family: "Karla", sans-serif;
  min-height: 100vh;
  background: #fffcfa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

:root {
  --top-nav-height: 112px;
  --blue: #42aed1;
  --d-blue: #1c2334;
  --black: #040914;
}

.black {
  background: var(--black) !important;
}

.gray {
  background: #eee !important;
  color: #1c2334 !important;
  border: #1c2334 !important;
}

.gray:hover {
  background: #1c2334 !important;
  color: #eee !important;
  border: #eee !important;
}

.container {
  width: 70%;
  margin: auto;
}

.pa-5 {
  padding: 5px;
}

.ma-5 {
  margin: 5px;
}

a.btn {
  display: inline-block;
}

input {
  padding: 3px 8px;
}

select {
  padding: 3px 8px;
}

.full-width {
  width: 100%;
}

.highlight {
  text-decoration: underline;
  font-weight: bold;
  color: white;
}

.btn {
  padding: 10px 15px;
  background: var(--blue);
  color: white;
  border: var(--blue) solid 1px;
  box-shadow: 1px 1px 1px rgba(63, 60, 60, 0.267);
  font-size: 1.3rem;
  font-family: "Karla", sans-serif;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background: var(--d-blue);
  border: var(--d-blue) solid 1px;
  outline: none;
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background: darkgray;
  border: darkgray solid 1px;
}

.animate {
  animation: fadeIn 0.3s ease-in;
}

.disabled {
  background: darkgray;
  border: darkgray;
}

.validated {
  border: #69ec69 1.5px solid;
}

.validated:focus {
  outline: none;
}

.not-validated {
  border: #c20349cc 1.5px solid;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
